
<div id="mainLogin" >
 <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form (ngSubmit)="onSubmit()">
              <h1>Bienvenido</h1>
              <div>
                <input name="username"
                      type="text" class="form-control" 
                      placeholder="Usuario" 
                      required 
                      [(ngModel)]="user.username"/>
              </div>
              <div>
                <input name="username"
                      type="password" 
                      class="form-control" placeholder="Password" 
                      required
                      [(ngModel)]="user.password"
                      />
              </div>
              <div>
                <button  class="btn btn-light mt-5" style="color: darkblue; font-size: 12px; font-weight: bold;"
                  type="submit">Iniciar sesión
                </button>
                <button  class="btn btn-light mt-5" style="color: darkblue; font-size: 12px; font-weight: bold;"
                  type="button">Olvidaste tu password?
                </button>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">
                  <a href="#signup" class="btn btn-default submit"> Crea una cuenta </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                  <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 4 template. Privacy and Terms</p>
                </div>
              </div>
            </form>
          </section>
        </div>

        
</div>