<div class="row">
    <div class="col-6">
                <canvas baseChart width="400" height="400"
                    [type]="'line'"
                    [data]="lineChartData"
                    [options]="lineChartOptions"
                    [legend]="lineChartLegend">
                </canvas>
    </div>
    <div class="col-6">
        <canvas baseChart
        [type]="'pie'"
        [datasets]="pieChartDatasets"
        [labels]="pieChartLabels"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [legend]="pieChartLegend">
      </canvas>
      </div>

</div>



<div class="row">
    <div class="col-6">
        <canvas baseChart
        [labels]="doughnutChartLabels"
        [datasets]="doughnutChartDatasets"
        [options]="doughnutChartOptions"
        [legend]="true"
        [type]="'doughnut'">
</canvas>
    </div>
    <div class="col-6">
            <canvas baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [type]="'bar'">
            </canvas>

      </div>

</div>


<div class="row">
    <div class="col-6">
        
        <canvas baseChart
        [datasets]="bubbleChartDatasets"
        [options]="bubbleChartOptions"
        [legend]="bubbleChartLegend"
        [type]="'bubble'">
        </canvas>

    </div>
    <div class="col-6">
        <canvas baseChart
        [datasets]="radarChartDatasets"
        [options]="radarChartOptions"
        [labels]="radarChartLabels"
        [type]="'radar'">
</canvas>

      </div>

</div>

