<!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu bodyStyle">
          <div class="menu_section ">
            <h3>General</h3>
            <ul class="nav side-menu">
              @for (item of menuItens; track $index) {
               <li><a><i class="{{item.icono}}"></i> {{item.titulo}} <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        @for (subItem of item.subMenu; track $index) {
                            <li><a [routerLink]="subItem.url" routerLinkActive="router-link-active" >{{subItem.titulo}}</a></li>
                        }
                    </ul>
                
              </li>
              }
            </ul>
          </div>
          </div>
        <!-- /sidebar menu -->