    <!-- page content -->
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h3>Dashboard</h3>
            </div>
          </div>  
          <div class="clearfix"></div>        
          <div class="row">
            <div class="col-md-12 col-sm-12  ">
              <div class="x_panel">
                
                <div class="x_content">
             
                  <div class="form-group">
                    <input  name="filter" type="search" class="form-control" [(ngModel)]="filter" placeholder="Filter by descripcion or usuario">
                  </div>
                  <app-spinner></app-spinner>                
                  <div class="">
                    <form action="">
                      <sel-child-list-advices [advices]="advices" 
                        [currentPage]="currentPage"
                        [totalRegs]="totalRegs"
                        [itemsPerPage]="itemsPerPage">                                        
                      </sel-child-list-advices>                   
                  </form>
                </div>
              </div>
            </div>
          </div>

        </div>

      
      <!-- /page content -->