    <!-- page content -->
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h3>Dashboard</h3>
            </div>
          </div>  
          <div class="clearfix"></div>        
          <div class="row">
            <div class="col-md-12 col-sm-12  ">
              <div class="x_panel">
                
                <div class="x_content">


                  <button (click)="load()">Tets</button>
                  <app-spinner></app-spinner>                
                  <div class="table-responsive">
                   
                    <table class="table table-striped jambo_table bulk_action">
                      <thead>
                        <tr class="headings">
                          <th class="column-title">Clave </th>
                          <th class="column-title">Descripción</th>
                          <th class="column-title">Fecha </th>
                          <th class="column-title">Tema </th>
                          <th class="column-title">Autor </th>
                        </tr>
                      </thead>

                      <tbody>

                        @for (item of advices | paginate: { 
                          itemsPerPage: 10,
                          currentPage: p,
                          totalItems: advices.length}; track $index) {

                        <tr class="even pointer">
                          <td class=" ">{{item.id}}</td>
                          <td class=" ">{{item.descripcion}}</td>
                          <td class=" ">{{item.fecha | date }}</td>
                          <td class=" ">{{item.tema.descripcion}}</td>
                          <td class=" ">{{item.usuario.username}}</td>
                        </tr>                               
                      }               
                      </tbody>
                    </table>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                   
                </div>
              </div>
            </div>
          </div>

        </div>

      
      <!-- /page content -->