<div id="divfondo" class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
          <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Gentelella Alela!</span></a>
          </div>
          <div class="clearfix"></div>
          <app-menuprofile></app-menuprofile>
          <app-sidebar></app-sidebar>
        </div>
      </div>
      <app-header></app-header>
        <div class="right_col" role="main">
          <router-outlet></router-outlet>
        </div>
      <app-footer></app-footer>
    </div>
  </div>