<div class="container body">
    <div class="main_container">
      <!-- page content -->
      <div class="col-md-12">
        <div class="col-middle">
          <div class="text-center text-center">
            <h1 class="error-number">404</h1>
            <br/>
            <h3>Disculpa pero no encontramos la pagina</h3>
            <br/>
            <h4>La pagina que estas buscando no existe
            </h4>
            <div class="mid_center">
              <h4 ><a style="cursor: pointer !important; text-decoration: underline;" href="#">Regresar</a>
              </h4>
            </div>
          </div>
        </div>
      </div>
      <!-- /page content -->
    </div>
  </div>